/** @format */

@import './variables_colors';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.adv__game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: color(c-black_to_red_adventure);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__adv__container {
  width: 80vw;
  background-color: color(c-blue_adventure);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 50px 0px;
  color: color(c-green_adventure);
  font-size: 4rem;
  text-align: center;
  @media (max-width: $display) {
    max-width: 100%;
    font-size: 3rem;
  }
}

#inventory__list {
  font-size: 2rem;
  color: color(c-green_adventure);
  text-align: left;
  padding-bottom: 50px;
}

.adv__buttons__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 80px;
  @media (max-width: $display) {
    grid-template-columns: auto;
    margin-top: 50px;
  }
}

.adv__button {
  background: color(c-green_adventure);
  border: 5px solid color(c-green_adventure);
  border-radius: 5px;
  padding: 5px 10px;
  color: color(c-red_adventure);
  outline: none;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  @media (max-width: $display) {
    font-size: 2rem;
  }
  @media (max-width: $tablet) {
    font-size: 2rem;
  }
}

.adv__button:hover {
  border-color: color(c-red_adventure);
}
