$colors: (
  bubble-blue: #a4e2f5,
  bubble-green: #ecfa95,
  bubble-orange: #ffb980,
  bubble-purple: #c182db,
  bubble-red: #fc7686,
  c-royalblue: #0091ff,
  c-blue_adventure: #37848c,
  c-aqua: #00ffff,
  c-green_adventure: #b9d9ce,
  c-lime: #bbff99,
  c-orange: #ffcc66,
  c-orange_adventure: #d9583b,
  c-salmon: #f77062,
  c-light_grey: #eeeed7,
  c-pink: #ff99ff,
  c-purple: #e432f4,
  c-purple_light: lighten(#e432f4, 10%),
  c-red_adventure: #8c0303,
  c-grey_dark: #333,
  c-grey_adventure: #d9d9d9,
  c-grey: #e0e0e0,
  c-grey_yellow: #eeeed7,
  c-white: #fff,
  c-black: #131313,
  c-aqua_to_lime: linear-gradient(to top, #00ffff 0%, #bbff99 100%),
  c-aqua_to_purple:
    linear-gradient(to top, #e432f4 0%, #00ffff 33%, #e432f4 100%),
  c-orange_to_pink: linear-gradient(to top, #ffcc66 0%, #ff99ff 100%),
  c-black_to_red_adventure:
    linear-gradient(to top, #131313 0%, #8c0303 30%, #8c0303 60%, #131313 100%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$display: 1220px; // col-xl
$laptop: 1024px; // col-lg
$tablet: 768px; //col-md
$phone: 550px; //col-sm

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.adv__game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: color(c-black_to_red_adventure);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__adv__container {
  width: 800px;
  max-width: 80%;
  background-color: color(c-blue_adventure);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 50px 0px;
  color: color(c-green_adventure);
  font-size: 4rem;
  text-align: center;
  @media (max-width: $display) {
    max-width: 100%;
    font-size: 3rem;
  }
}

#inventory__list {
  font-size: 2rem;
  color: color(c-green_adventure);
  text-align: left;
  padding-bottom: 50px;
}

.adv__buttons__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 80px;
  @media (max-width: $display) {
    grid-template-columns: auto;
    margin-top: 50px;
  }
}

.adv__button {
  background: color(c-green_adventure);
  border: 5px solid color(c-green_adventure);
  border-radius: 5px;
  padding: 5px 10px;
  color: color(c-red_adventure);
  outline: none;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
  @media (max-width: $display) {
    font-size: 2rem;
  }
  @media (max-width: $tablet) {
    font-size: 2rem;
  }
}

.adv__button:hover {
  border-color: color(c-red_adventure);
}
