@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");

$colors: (
  c-royalblue: #0091ff,
  c-aqua: #00ffff,
  c-lime: #bbff99,
  c-orange: #ffcc66,
  c-light_grey: #eeeed7,
  c-pink: #ff99ff,
  c-purple: #e432f4,
  c-purple_light: lighten(#e432f4, 10%),
  c-grey: #e0e0e0,
  c-grey_yellow: #eeeed7,
  c-white: #fff,
  c-black: #131313,
  c-background_black: #131313,
  c-aqua_to_lime: linear-gradient(to top, #00ffff 0%, #bbff99 100%),
  c-aqua_to_purple:
    linear-gradient(to top, #e432f4 0%, #00ffff 33%, #e432f4 100%),
  c-orange_to_pink: linear-gradient(to top, #ffcc66 0%, #ff99ff 100%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.main__bliss {
  background-color: color(c-black);
}

.main__container__bliss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: color(c-black);
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content__bliss h1 {
  font-family: "Rampart One", cursive;
  font-size: 4rem;
  background-color: color(c-aqua);
  background-image: color(c-aqua_to_lime);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 5%;
  text-align: center;
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.main__content__bliss h2 {
  font-size: 1.2rem;
  background-color: color(c-aqua);
  background-image: color(c-orange_to_pink);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
}

.main__content__bliss p {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: color(c-white);
  padding: 2px;
  margin-bottom: 10%;
  text-align: center;
}

.main__btn__bliss {
  font-size: 1rem;
  background-image: color(c-aqua_to_lime);
  padding: 2% 5%;
  margin: 1% 33%;
  border: none;
  border-radius: 10px;
  color: color(c-white);
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn__bliss a {
  position: relative;
  z-index: 2;
  color: color(c-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Archivo Black", sans-serif;
}

.main__btn__bliss:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: color(c-white);
  transition: all 0.35s;
  border-radius: 10px;
}

.main__btn__bliss:hover {
  color: color(c-white);
}

.main__btn__bliss:hover:after {
  width: 100%;
}

.main__img--container__bliss {
  text-align: center;
}

#main__img__bliss {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3%;
  transition: transform 0.3s;
  margin-bottom: 0 auto;
}

.main__img--container__bliss:hover {
  background-color: transparent;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  // transition: 0.2s ease-in;
  display: flex;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container__bliss {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content__bliss {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content__bliss h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    text-align: center;
  }

  .main_content__bliss h2 {
    font-size: 3rem;
    text-align: center;
  }

  .main__content__bliss p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content__bliss h1 {
    font-size: 2rem;
    margin-top: 3rem;
    align-items: center;
  }

  .main_content__bliss h2 {
    font-size: 2rem;
    align-items: center;
  }

  .main__content__bliss p {
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
  }

  .main_btn__bliss {
    padding: 12px 12px;
    margin: 0 0;
    align-content: center;
  }

  .main_img__bliss {
    align-content: center;
    margin: 0 auto;
  }
}

/* Main Bliss Content */

.main__bliss__container {
  background: color(c-black);
  z-index: -100;
  padding: 5%;
}

.main__bliss__img__container {
  z-index: 10;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-radius: 100px;
  background-image: url(/images/orange-sunset-over-water-with-palm-trees-and-mountains.jpg);
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 75%;
  height: auto;
  margin: auto;
}

.bird {
  background-image: url(http://www.iamramraj.com/demo/Flying_birds_CSS_animation_examples/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird--two {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.bird--three {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.bird--four {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird-container {
  position: absolute;
  top: 20%;
  left: -7.5vw;
  -webkit-transform: scale(0);
  transform: scale(0);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
  animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.bird-container--two {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.bird-container--three {
  -webkit-animation-duration: 14.6s;
  animation-duration: 14.6s;
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}
.bird-container--four {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 10.25s;
  animation-delay: 10.25s;
}
@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    left: -10%;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  10% {
    left: 10%;
    -webkit-transform: translateY(2vh) scale(0.4);
    transform: translateY(2vh) scale(0.4);
  }
  20% {
    left: 30%;
    -webkit-transform: translateY(0vh) scale(0.5);
    transform: translateY(0vh) scale(0.5);
  }
  30% {
    left: 50%;
    -webkit-transform: translateY(4vh) scale(0.6);
    transform: translateY(4vh) scale(0.6);
  }
  40% {
    left: 70%;
    -webkit-transform: translateY(2vh) scale(0.6);
    transform: translateY(2vh) scale(0.6);
  }
  50% {
    left: 90%;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
  60% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
  100% {
    left: 110%;
    opacity: 1;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
}
@keyframes fly-right-one {
  0% {
    left: -10%;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  10% {
    left: 10%;
    -webkit-transform: translateY(2vh) scale(0.4);
    transform: translateY(2vh) scale(0.4);
  }
  20% {
    left: 30%;
    -webkit-transform: translateY(0vh) scale(0.5);
    transform: translateY(0vh) scale(0.5);
  }
  30% {
    left: 50%;
    -webkit-transform: translateY(4vh) scale(0.6);
    transform: translateY(4vh) scale(0.6);
  }
  40% {
    left: 70%;
    -webkit-transform: translateY(2vh) scale(0.6);
    transform: translateY(2vh) scale(0.6);
  }
  50% {
    left: 90%;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
  60% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
  100% {
    left: 110%;
    opacity: 1;
    -webkit-transform: translateY(0vh) scale(0.6);
    transform: translateY(0vh) scale(0.6);
  }
}
@-webkit-keyframes fly-right-two {
  0% {
    left: -10%;
    opacity: 1;
    -webkit-transform: translateY(-2vh) scale(0.5);
    transform: translateY(-2vh) scale(0.5);
  }
  10% {
    left: 10%;
    -webkit-transform: translateY(0vh) scale(0.4);
    transform: translateY(0vh) scale(0.4);
  }
  20% {
    left: 30%;
    -webkit-transform: translateY(-4vh) scale(0.6);
    transform: translateY(-4vh) scale(0.6);
  }
  30% {
    left: 50%;
    -webkit-transform: translateY(1vh) scale(0.45);
    transform: translateY(1vh) scale(0.45);
  }
  40% {
    left: 70%;
    -webkit-transform: translateY(-2.5vh) scale(0.5);
    transform: translateY(-2.5vh) scale(0.5);
  }
  50% {
    left: 90%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
  51% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
  100% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
}
@keyframes fly-right-two {
  0% {
    left: -10%;
    opacity: 1;
    -webkit-transform: translateY(-2vh) scale(0.5);
    transform: translateY(-2vh) scale(0.5);
  }
  10% {
    left: 10%;
    -webkit-transform: translateY(0vh) scale(0.4);
    transform: translateY(0vh) scale(0.4);
  }
  20% {
    left: 30%;
    -webkit-transform: translateY(-4vh) scale(0.6);
    transform: translateY(-4vh) scale(0.6);
  }
  30% {
    left: 50%;
    -webkit-transform: translateY(1vh) scale(0.45);
    transform: translateY(1vh) scale(0.45);
  }
  40% {
    left: 70%;
    -webkit-transform: translateY(-2.5vh) scale(0.5);
    transform: translateY(-2.5vh) scale(0.5);
  }
  50% {
    left: 90%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
  51% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
  100% {
    left: 110%;
    -webkit-transform: translateY(0vh) scale(0.45);
    transform: translateY(0vh) scale(0.45);
  }
}
