/** @format */

@import './variables_colors';

body {
  background-color: color(c-black);
}

canvas {
  position: absolute;
  z-index: -1;
}

.main__practice1__container {
  background-color: color(c-black);
  color: color(c-black);
  margin-top: 8px;
}

#main__practice1__header {
  color: color(bubble-purple);
  padding: 20px;
  text-align: center;
}

#bubbles {
  background: color(c-black);
  color: color(c-black);
}
