/** @format */

@import './variables_colors';

body {
  background-color: color(c-black);
}

#main__frogger__heading {
  font-size: 1.5rem;
  margin: 50px;
  text-align: center;
  color: color(c-lime);
  @media (max-width: $phone) {
    font-size: 2rem;
    margin: 50px;
  }
}

.frogger__wrapper {
  border: 5px solid color(c-purple);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  background: url('/images/frogger/background.png');
  @media (max-width: $tablet) {
    width: 400px;
    height: 400px;
  }
  @media (max-width: $phone) {
    top: 65%;
    width: 360px;
    height: 360px;
  }
}
.frogger__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
