/** @format */

@import './variables_colors';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: color(c-black);
}

.memory__game__container {
  width: 650px;
  height: 650px;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 80px auto;
  border: 3px solid color(c-black);
  border-radius: 30px;
  box-shadow: 20px 10px 100px 50px color(c-black),
    20px 10px 100px 100px color(c-aqua), 20px 50px 100px 150px color(c-lime);
  color: color(c-aqua);
  @media (max-width: $tablet) {
    width: 450px;
    height: 450px;
  }
}

.memory__game__container h1 {
  color: color(c-lime);
  margin-top: 20px;
}

.memory__game__grid {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 500px;
  margin: 50px auto 20px auto;
  @media (max-width: $tablet) {
    width: 300px;
    height: 400px;
  }
}

#memory__game__reset {
  background-color: color(c-salmon);
  color: color(c-white);
  margin: 100px auto;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

#memory__game__status {
  color: color(c-lime);
  margin: 30px auto;
  font-size: 1.2rem;
}
