/** @format */

.pacmanGameContainer {
  background-color: #131313;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  
}

.gameBoardContainer {
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.pacmanTitle {
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  
}

.pacmanInstructions {
  color: #fff;
  text-align: center;
  margin: 1rem;
}

.pacmanScore {
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  
}

.pacmanCanvas {
  overflow-x: hidden;
  overflow-y: hidden;
}
