/** @format */

@import './variables_colors';

.pacmanGameContainer {
  background-color: color(c-black);
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
}

.gameBoardContainer {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pacmanTitle {
  margin-top: 2rem;
  color: color(c-white);
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.pacmanInstructions {
  color: color(c-white);
  text-align: center;
  margin: 1rem;
}

.pacmanScore {
  color: color(c-white);
  font-family: sans-serif;
  font-size: 1rem;
}

.pacmanCanvas {
  overflow-x: hidden;
  overflow-y: hidden;
}
