/** @format */

@import './variables_colors';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: color(c-black);
  height: 50%;
}

canvas {
  overflow: hidden;
}

.header {
  color: color(c-orange);
  text-align: center;
  padding: 2%;
  margin: auto;
  font-size: 1rem;
}

.pixels__container {
  margin: auto;
  width: 30%;
}

#pixels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  border: 5px solid color(c-white);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 95%;
}

.controls > input {
  border: 2px solid color(c-white);
  width: 60%;
}

.controls > label {
  width: 50%;
  color: color(c-white);
  font-size: 15px;
}
