/** @format */

@import './variables_colors';

body {
  background-color: color(c-black);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projects__header h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 50px;
  color: color(c-lime);
}

.projects__header h2 {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 15px;
  color: color(c-salmon);
}

.projects__body {
  padding-top: 50px;
  text-align: center;
  background-color: color(c-black);
  display: grid;
  grid-template-columns: repeat(2, auto);

  .projects__list {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 2rem;
    color: color(c-aqua);
    padding-bottom: 20px;
  }

  p {
    font-size: 2.5rem;
    margin: 3px;
    color: color(c-lime);
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: color(c-orange);
    margin: 3px;
  }

  li {
    color: color(c-purple);
    list-style: none;
  }
}
