/** @format */

@import './variables_colors';

.sudokuContainer {
  background-color: color(c-black);
  text-align: center;
  //   justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  column-gap: 50px;
}

#solveButton,
#newGameButton {
  background-color: transparent;
  border: 2px solid color(c-purple);
  color: color(c-purple);
  padding: 10px 20px;
  margin: 10px;
}

#solveButton:hover,
#newGameButton:hover {
  background-color: color(c-purple);
  border: 2px solid color(c-black);
  color: color(c-black);
  cursor: pointer;
}

#sudokuGrid,
#solutionGrid,
#sudokuGameboard {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  margin: 30px auto;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid color(c-lime);
  color: color(c-lime);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  opacity: 1;
}

.unsolvedBox {
  color: color(c-purple);
  font-weight: bold;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
