$colors: (
  bubble-blue: #a4e2f5,
  bubble-green: #ecfa95,
  bubble-orange: #ffb980,
  bubble-purple: #c182db,
  bubble-red: #fc7686,
  c-royalblue: #0091ff,
  c-blue_adventure: #37848c,
  c-aqua: #00ffff,
  c-green_adventure: #b9d9ce,
  c-lime: #bbff99,
  c-orange: #ffcc66,
  c-orange_adventure: #d9583b,
  c-salmon: #f77062,
  c-light_grey: #eeeed7,
  c-pink: #ff99ff,
  c-purple: #e432f4,
  c-purple_light: lighten(#e432f4, 10%),
  c-red_adventure: #8c0303,
  c-grey_dark: #333,
  c-grey_adventure: #d9d9d9,
  c-grey: #e0e0e0,
  c-grey_yellow: #eeeed7,
  c-star_yellow: #f0ed3e,
  c-white: #fff,
  c-black: #131313,
  c-aqua_to_lime: linear-gradient(to top, #00ffff 0%, #bbff99 100%),
  c-aqua_to_purple:
    linear-gradient(to top, #e432f4 0%, #00ffff 33%, #e432f4 100%),
  c-orange_to_pink: linear-gradient(to top, #ffcc66 0%, #ff99ff 100%),
  c-black_to_red_adventure:
    linear-gradient(to top, #131313 0%, #8c0303 30%, #8c0303 60%, #131313 100%),
);

@function linear_gradient_colors() {
  @return background
      repeating-linear-gradient(
        45deg,
        color(c-white),
        color(c-aqua) 2em,
        color(c-white) 4em,
        color(c-lime) 3em,
        color(c-black) 5em,
        #787e7e 6em,
        color(c-white) 3em
      ),
    repeating-linear-gradient(
      -45deg,
      color(c-black),
      color(c-aqua) 2em,
      color(c-black) 3em,
      color(c-lime) 4em,
      color(c-white) 5em,
      color(c-aqua) 6em,
      color(c-white) 3em
    );
}

@function linear_gradient_background() {
  @return linear_gradient_colors(), background-blend-mode multiply,
    background-size auto;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
}

body {
  background-color: color(c-black);
  font-family: Helvetica, sans-serif;
}

.scrolling-progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  z-index: 100;
  background-color: color(c-black);
}

.progress-bar {
  height: 8px;
  background: color(c-pink);
  width: 0%;
  z-index: 100;
}

/* New Testimonial Comments Section */
#new__testimonial__container {
  display: none;
}

.testimonial__comment__box__container {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  border-radius: 50px;
  object-fit: scale-down;

  .comment__box {
    color: color(c-black);
    overflow: auto;
  }

  section {
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
  }

  section .comment__box,
  .name__box {
    width: 100%;
    height: 70px;
    padding: 5px;
    outline: none;
    font-size: 80%;
    resize: vertical;
    margin-bottom: 20px;
    border: 1px solid color(c-aqua);
    border-bottom: 4px solid color(c-lime);
    background: color(c-aqua_to_lime);
    border-radius: 6px;
    margin-top: 20px;

    &.name__box {
      width: 50%;
      height: 30px;
      float: left;
      margin-bottom: 10px;
    }
  }

  .rating {
    float: right;
    width: 30%;
    height: 10px;
    color: color(c-star_yellow)
  }

  section p {
    float: left;
    line-height: 30px;
    color: color(c-white);
  }

  section span {
    font-weight: bold;
  }

  section button {
    border: 0;
    width: 30%;
    color: color(c-black);
    height: 35px;
    float: right;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    background-color: color(c-orange);
    border-bottom: 3px solid color(c-pink);
    border-radius: 6px;
  }

  section button:hover {
    background-color: color(c-pink);
    border-bottom: 3px solid color(c-orange);
  }

  section button:disabled {
    background-color: color(c-black);
    border: 1px solid color(c-grey);
    border-bottom: 3px solid color(c-grey);
    color: color(c-grey);
  }

  .under__post__button {
    margin-bottom: 100px;
  }
}

.timeline__header {
  border-top: 1px solid color(c-royalblue);
  border-bottom: 6px solid color(c-pink);
  border-radius: 30px;
}

.timeline__header h1 {
  background: color(c-aqua_to_lime);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  position: relative;
  margin: 5% 10%;
  text-align: center;
}

/* The vertical timeline bar */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &:after {
    content: "";
    position: absolute;
    width: 6px;
    background: color(c-orange_to_pink);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

/* Container around testimonials */
.testimonial__container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  /* The circles on vertial timeline bar */
  &:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background: color(c-aqua_to_lime);
    border: 4px solid color(c-lime);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
}

.right {
  /* Place the container to the right */
  left: 50%;
  /* Add arrows to the right container (pointing left) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid color(c-lime);
    border-width: 10px 10px 10px 0;
    border-color: transparent color(c-lime) transparent transparent;
  }
  /* Fix the circle for containers on the right side */
  &:after {
    left: -16px;
  }
  /* The testimonial content on the right */
  .testimonial {
    padding: 20px 30px;
    background: color(c-aqua_to_lime);
    position: relative;
    border-radius: 6px;
    border: 4px solid color(c-lime);
  }
}

.left {
  /* Place the container on the left */
  left: 0;
  /* Add arrows to the left container (pointing right) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid color(c-lime);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent color(c-lime);
  }
  /* The testimonial content on the left */
  .testimonial {
    padding: 20px 30px;
    background: color(c-aqua_to_lime);
    position: relative;
    border-radius: 6px;
    border: 4px solid color(c-lime);
  }
}

/* Star Ratings on Old Testimonials */
.checked {
  color: color(c-star_yellow);
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

/* Star Ratings on New Testimonial */
.new__rating {
  display: none;
}

/* Media Responsive Timeline */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .testimonial__container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    /* Make sure that all arrows are pointing leftwards */
    &:before {
      left: 60px;
      border: medium solid color(c-lime);
      border-width: 10px 10px 10px 0;
      border-color: transparent color(c-lime) transparent transparent;
    }
  }

  .right {
    .testimonial {
      background: color(c-aqua_to_lime);
      color: color(c-black);
    }
  }

  /* Timelime Circles to Same Spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
