$colors: (
  bubble-blue: #a4e2f5,
  bubble-green: #ecfa95,
  bubble-orange: #ffb980,
  bubble-purple: #c182db,
  bubble-red: #fc7686,
  c-royalblue: #0091ff,
  c-blue_adventure: #37848c,
  c-aqua: #00ffff,
  c-green_adventure: #b9d9ce,
  c-lime: #bbff99,
  c-orange: #ffcc66,
  c-orange_adventure: #d9583b,
  c-salmon: #f77062,
  c-light_grey: #eeeed7,
  c-pink: #ff99ff,
  c-purple: #e432f4,
  c-purple_light: lighten(#e432f4, 10%),
  c-red_adventure: #8c0303,
  c-grey_dark: #333,
  c-grey_adventure: #d9d9d9,
  c-grey: #e0e0e0,
  c-grey_yellow: #eeeed7,
  c-white: #fff,
  c-black: #131313,
  c-aqua_to_lime: linear-gradient(to top, #00ffff 0%, #bbff99 100%),
  c-aqua_to_purple:
    linear-gradient(to top, #e432f4 0%, #00ffff 33%, #e432f4 100%),
  c-orange_to_pink: linear-gradient(to top, #ffcc66 0%, #ff99ff 100%),
  c-black_to_red_adventure:
    linear-gradient(to top, #131313 0%, #8c0303 30%, #8c0303 60%, #131313 100%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

:root {
    /* default font size in browsers is 16px = 1em, we make
       things easier for us and make 10px our base size.
       We have 10/16 = 0.625 = 1rem as it is set on root element.
       So 1rem is now 10px throughout our stylesheet.*/
    font-size: 0.625em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 60rem;
    color: color(c-white);
    background: radial-gradient(
      circle,
      rgba(175, 196, 174, 1) 0%,
      rgba(104, 204, 191, 1) 89%,
      rgba(94, 191, 178, 1) 100%
    );
  }
  
  header {
    text-align: center;
    margin-top: 3rem;
  }
  
  div {
    height: 2rem;
    width: 2rem;
  }
  
  /* some utility classes */
  .t-ucase {
    text-transform: uppercase;
  }
  
  .t-big {
    font-size: 1.5em;
  }
  
  .t-wide {
    letter-spacing: 1.5rem;
  }
  
  .t-close {
    letter-spacing: 1rem;
  }
  
  .fw-300 {
    font-weight: 300;
  }
  
  .fw-400 {
    font-weight: 400;
  }
  
  .score-display {
    font-size: 5rem;
    color: color(c-grey);
  }
  
  .game-area {
    display: flex;
    justify-content: center;
  }
  
  .game {
    height: 0;
    width: 300px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20rem;
    height: 40rem;
  }
  
  .previous-shape {
    width: 10rem;
    padding-left: 2rem;
    margin-top: -5rem;
  }
  
  .previous-grid {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
  }
  
  .block {
    background-image: url(/images/tetris/blue_block.png);
  }
  
  .block2 {
    background-image: url(/images/tetris/purple_block.png);
  }
  
  .block3 {
    background-image: url(/images/tetris/green_block.png);
  }
  
  .block4 {
    background-image: url(/images/tetris/navy_block.png);
  }
  
  .block5 {
    background-image: url(/images/tetrispink_block.png);
  }
  
  .end {
    background-color: #d8edea;
  }
  
  .button {
    position: relative;
    width: 22rem;
    height: 2.2rem;
    text-align: center;
    color: color(c-white);
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    margin: 30px;
    text-shadow: -1px -1px 0 #a84155;
    background: color(c-salmon);
    border: 1px solid color(c-salmon);
    width: 12rem;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
      0 4px 2px rgba(0, 0, 0, 0.5);
  }
  
  .button:before {
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 color(c-white);
    position: absolute;
    content: "";
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -10px;
    z-index: -1;
  }
  
  .button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
      0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    top: 5px;
  }
  
  .button:active:before {
    top: -11px;
    bottom: -5px;
    content: "";
  }
  
  .button:hover {
    background: #f66c7b;
    background-image: linear-gradient(top, #d25068, #f66c7b);
  }
  
  .end {
    background-image: url(/Users/limit/development/Tetris/images/blue_block.png);
  }
  
  .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: 17.5rem;
    height: 25rem;
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
  }
  
  .score,
  .lines-display {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  
  /*menu*/
  .container {
    max-width: 600px;
    padding: 0 3rem;
    margin: auto;
    overflow: hidden;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  /* START of MENU STYLING */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background: rgba(13, 110, 139, 0.75);
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    display: flex;
    width: 150%;
    height: 2px;
    background: #fff;
    flex: none;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    position: absolute;
    top: -7px;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;
    content: "";
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div:after {
    top: 7px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(24, 39, 51, 0.85);
  }
  
  .menu-content {
    text-align: center;
    width: 600px;
    align-items: center;
    margin-top: 230px;
    justify-content: center;
    width: 200vw;
    height: 200vh;
    border-radius: 50%;
    transition: all 0.8s ease;
  }
  
  .rules {
    font-size: 12px;
    transition: color 0.4s ease;
  }
  
  .key {
    color: #f8de7e;
  }
  
  .close {
    border-radius: 5px;
    color: rgba(24, 39, 51, 0.85);
  }
