/** @format */

@import './variables_colors';

$cellSize: 150px;
$ticSize: $cellSize * 0.9;

.ticTacToeBoard {
  width: 100vw;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: color(c-black);
}

.ticTacToeCell {
  width: $cellSize;
  height: $cellSize;
  border: 1px solid color(c-aqua);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

// Top cells
.ticTacToeCell:first-child,
.ticTacToeCell:nth-child(2),
.ticTacToeCell:nth-child(3) {
  border-top: none;
}

// Left cells
.ticTacToeCell:nth-child(3n + 1) {
  border-left: none;
}

// Right cells
.ticTacToeCell:nth-child(3n + 3) {
  border-right: none;
}

// Bottom cells
.ticTacToeCell:last-child,
.ticTacToeCell:nth-child(8),
.ticTacToeCell:nth-child(7) {
  border-bottom: none;
}

.ticTacToeCell.x,
.ticTacToeCell.o {
  cursor: not-allowed;
}

.ticTacToeCell.x::before,
.ticTacToeCell.x::after,
.ticTacToeCell.o::before {
  background-color: color(c-lime);
}

.ticTacToeBoard.x .ticTacToeCell:not(.x):not(.o):hover::before,
.ticTacToeBoard.o .ticTacToeCell:not(.x):not(.o):hover::before,
.ticTacToeBoard.x .ticTacToeCell:not(.x):not(.o):hover::after {
  background-color: color(c-pink);
}

.ticTacToeCell.x::before,
.ticTacToeCell.x::after,
.ticTacToeBoard.x .ticTacToeCell:not(.x):not(.o):hover::before,
.ticTacToeBoard.x .ticTacToeCell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: $ticSize * 0.15;
  height: $ticSize;
}

.ticTacToeCell.x::before,
.ticTacToeBoard .ticTacToeCell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.ticTacToeCell.x::after,
.ticTacToeBoard .ticTacToeCell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.ticTacToeCell.o::before,
.ticTacToeCell.o::after,
.ticTacToeBoard.o .ticTacToeCell:not(.x):not(.o):hover::before,
.ticTacToeBoard.o .ticTacToeCell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.ticTacToeCell.o::before,
.ticTacToeBoard.o .ticTacToeCell:not(.x):not(.o):hover::before {
  width: $ticSize;
  height: $ticSize;
}

.ticTacToeCell.o::after,
.ticTacToeBoard.o .ticTacToeCell:not(.x):not(.o):hover::after {
  width: $ticSize * 0.7;
  height: $ticSize * 0.7;
  background-color: color(c-black);
}

.winningMessage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color(c-black);
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  color: color(c-black);
  font-size: 5rem;
  flex-direction: column;
  color: color(c-aqua);
}

.winningMessage button {
  font-size: 3rem;
  background-color: color(c-black);
  border: 1px solid color(c-aqua);
  padding: 0.25em 0.5em;
  cursor: pointer;
  color: color(c-aqua);
}

.winningMessage button:hover {
  background-color: color(c-white);
  color: color(c-black);
  border-color: color(c-black);
}

.winningMessage.show {
  display: flex;
}
