/** @format */

$colors: (
  bubble-blue: #a4e2f5,
  bubble-green: #ecfa95,
  bubble-orange: #ffb980,
  bubble-purple: #c182db,
  bubble-red: #fc7686,
  c-royalblue: #0091ff,
  c-blue_adventure: #37848c,
  c-aqua: #00ffff,
  c-green_adventure: #b9d9ce,
  c-lime: #bbff99,
  c-orange: #ffcc66,
  c-orange_adventure: #d9583b,
  c-salmon: #f77062,
  c-light_grey: #eeeed7,
  c-pink: #ff99ff,
  c-purple: #e432f4,
  c-purple_light: lighten(#e432f4, 10%),
  c-red_adventure: #8c0303,
  c-grey_dark: #333,
  c-grey_adventure: #d9d9d9,
  c-grey: #e0e0e0,
  c-grey_yellow: #eeeed7,
  c-white: #fff,
  c-black: #131313,
  c-aqua_to_lime: linear-gradient(to top, #00ffff 0%, #bbff99 100%),
  c-aqua_to_purple:
    linear-gradient(to top, #e432f4 0%, #00ffff 33%, #e432f4 100%),
  c-orange_to_pink: linear-gradient(to top, #ffcc66 0%, #ff99ff 100%),
  c-black_to_red_adventure:
    linear-gradient(to top, #131313 0%, #8c0303 30%, #8c0303 60%, #131313 100%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.top__secret__main {
  height: 100vh;
  background-color: color(c-black);
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.books {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 840px;
}

.book--1 .book__img,
.book--1 .book__img--hover {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/71DMt113sML.jpg');
}

.book--2 .book__img,
.book--2 .book__img--hover {
  background-image: url('https://m.media-amazon.com/images/I/41pqEVq1MQL._AC_SY780_.jpg');
}

.book__clock {
  width: 15px;
vertical-align: middle;
  fill: #AD7D52;
}
.book__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.book__clock-info {
  float: right;
}

.book__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.book__info-hover {
  position: absolute;
  padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.book__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.book {
margin-right: 25px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: color(c-white);
  width: 33.3%;
position: relative;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
margin-top: 80px;
}
.book:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.book__info {
z-index: 2;
background-color: color(c-white);
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
 text-align: center;
}

.book__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.book__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.book__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.book__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.book:hover .book__img--hover {
  height: 100%;
  opacity: 0.3;
}

.book:hover .book__info {
  background-color: transparent;
  position: relative;
}

.book:hover .book__info-hover {
  opacity: 1;
}
